# SDKMAN configuration

sdkman_auto_answer=true
sdkman_auto_selfupdate=true
sdkman_insecure_ssl=false
sdkman_curl_connect_timeout=7
sdkman_curl_max_time=10
sdkman_beta_channel=false

{{ if eq .machine "work" }}
sdkman_rosetta2_compatibility=false
{{ else }}
sdkman_rosetta2_compatibility=true
{{ end }}
